<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="SampleApp.WinDesktop.UserSettings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <SampleApp.WinDesktop.UserSettings>
            <setting name="NTRIPServer" serializeAs="String">
                <value>esricaster.esri.com</value>
            </setting>
            <setting name="NTRIPPort" serializeAs="String">
                <value>2101</value>
            </setting>
            <setting name="NTRIPUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="NTRIPPassword" serializeAs="String">
                <value />
            </setting>
        </SampleApp.WinDesktop.UserSettings>
    </userSettings>
</configuration>
