name: CI

on:
  push:
    branches:
    - master
    - release/*
  pull_request:
    branches:
    - master
    
jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - name: Clone NmeaParser
    - uses: actions/checkout@v1
    
    - name: Build
      run: |
        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat"
        msbuild /restore /t:Build src/NmeaParser.sln
      
