name: Publish Documentation

on:
  push:
    branches:
    - main

jobs:
  build:

    runs-on: windows-latest

    steps:
        
    - name: Clone NmeaParser
      uses: actions/checkout@v1
    
    - name: Setup Visual Studio Command Prompt
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Restore
      run: |
        msbuild /restore /t:Restore src/NmeaParser/NmeaParser.csproj /p:Configuration=Release
        
    - name: Download DocFX
      run: |
        mkdir .tools/docfx
        Invoke-WebRequest -Uri "https://github.com/dotnet/docfx/releases/download/v${env:DOCFXVERSION}/docfx.zip" -OutFile ".tools/docfx/docfx.zip"
        [System.IO.Compression.ZipFile]::ExtractToDirectory(".tools/docfx/docfx.zip", ".tools/docfx" )
      env:
        DOCFXVERSION: 2.59.0

    - name: Install .NET OMD Generator
      run: dotnet tool install --tool-path .tools/omd dotMorten.OmdGenerator --version 1.3.1
    
    - name: Generate OMD
      run: |
        mkdir artifacts/docs/api
        .tools/omd/generateomd /source=src/NmeaParser /output=artifacts/docs/api/omd.html
        
    - name: Install NuGet
      uses: nuget/setup-nuget@v1
    
    - name: Build Documentation
      env:         
        DOCFX_SOURCE_BRANCH_NAME: main
      run: |
        nuget install memberpage -Version 2.59.0 -OutputDirectory docs
        .tools/docfx/docfx.exe metadata docs/docfx.json
        dotnet build docs/AppliesToGenerator\DocFXAppliesToGenerator.csproj
        docs/AppliesToGenerator\bin\Debug\net6.0\DocFXAppliesToGenerator.exe docs/appliesToList.json
        .tools/docfx/docfx.exe build docs/docfx.json
        powershell -ExecutionPolicy ByPass -command "docs\FixApiRefLinks" -Path artifacts\docs_site\api\
      
    - name: Publish Documentation
      env:
        ACCESS_TOKEN: ${{ secrets.GH_PAT }}
        BRANCH: gh-pages
        DOCSFOLDER: artifacts/docs_site
      shell: cmd
      run: |
         cd  %DOCSFOLDER%
         git init
         git config --local user.name "%GITHUB_ACTOR%"
         git config --local user.email "%GITHUB_ACTOR%@users.noreply.github.com"
         git config --local core.autocrlf false
         git add .
         git commit -m "Auto-update doc from commit %GITHUB_SHA%"
         git push --force https://%ACCESS_TOKEN%@github.com/%GITHUB_REPOSITORY%.git master:%BRANCH%
         rmdir .git /S /Q
         
