name: Publish Documentation

on:
  push:
    branches:
    - master

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Clone NmeaParser
      uses: actions/checkout@v1
#    - name: Install .NET OMD Generator
#      run: dotnet tool install --tool-path artifacts/toolset dotMorten.OmdGenerator --version 1.2.0
    - name: restore nuget packages
      run: dotnet msbuild /t:restore src/NmeaParser/NmeaParser.csproj
#    - name: Generate OMD
#      run: |
#        mkdir artifacts/docs/api
#        artifacts/toolset/generateomd /source=src/NmeaParser /output=artifacts/docs/api/omd.html
    - name: Build Documentation
      run: build\GenerateDoc.cmd
#      uses: nikeee/docfx-action@master
#      with:
#        args: docs/docfx.json

#    - name: Publish Documentation
#      uses: maxheld83/ghpages@master
#      env:
#        BUILD_DIR: artifacts/docs_site
#        GH_PAT: ${{ secrets.GH_PAT }}
