name: Publish Documentation

on:
  push:
    branches:
    - master
    - docpush

jobs:
  build:

    runs-on: windows-latest

    steps:
        
    - name: Clone NmeaParser
      uses: actions/checkout@v1

    - name: Download DocFX
      run: |
        mkdir .tools/docfx
        Invoke-WebRequest -Uri "https://github.com/dotnet/docfx/releases/download/v${env:DOCFXVERSION}/docfx.zip" -OutFile ".tools/docfx/docfx.zip"
        [System.IO.Compression.ZipFile]::ExtractToDirectory(".tools/docfx/docfx.zip", ".tools/docfx" )
      env:
        DOCFXVERSION: 2.48.1

    - name: Install .NET OMD Generator
      run: dotnet tool install --tool-path .tools/omd dotMorten.OmdGenerator --version 1.2.0

    - name: Generate OMD
      run: |
        mkdir artifacts/docs/api
        .tools/omd/generateomd /source=src/NmeaParser /output=artifacts/docs/api/omd.html
        
    - name: Build Documentation
      run: .tools/docfx/docfx.exe docs/docfx.json
      
    - name: Publish Documentation
      env:
        ACCESS_TOKEN: ${{ secrets.GH_PAT }}
        BRANCH: gh-pages
        DOCSFOLDER: artifacts/docs_site
      shell: cmd
      run: |
         cd  ${env:DOCSFOLDER}
         git init
         git config --local user.name "${env:GITHUB_ACTOR}"
         git config --local user.email "${env:GITHUB_ACTOR}@users.noreply.github.com"
         git config --local core.autocrlf false
         git add .
         git commit -m "Auto-update doc from commit ${env:GITHUB_SHA}"
         echo "*********** Running: git push --force https://${env:ACCESS_TOKEN}@github.com/${env:GITHUB_REPOSITORY}.git master:${env:BRANCH}"
         git push --force https://${env:ACCESS_TOKEN}@github.com/${env:GITHUB_REPOSITORY}.git master:${env:BRANCH}
         echo "*********** push complete"
         
